APP_PASSWORD=
BETFAIR_USERNAME=
BETFAIR_PASSWORD=
BETFAIR_APP_KEY=
BETFAIR_CERT_FILE=
BETFAIR_KEY_FILE=
BETFAIR_CERT_B64=
BETFAIR_KEY_B64=
DECIMAL_USERNAME=
DECIMAL_PASSWORD=
CRICKET_FIXTURE_API_KEY=
CRICKET_FIXTURE_REFRESH_ENABLED=true
CRICKET_FIXTURE_REFRESH_INTERVAL_MINUTES=180
CRICKET_FIXTURE_REFRESH_INITIAL_DELAY_SECONDS=30
CRICKET_FIXTURE_REFRESH_TIMEOUT_SECONDS=1200
CRICKET_FIXTURE_API_MAX_AGE_MINUTES=240
DG_API_KEY=
GOLF_NR_SLACK_WEBHOOK_URL=
GOLF_NR_SLACK_BOT_TOKEN=
GOLF_NR_SLACK_CHANNEL=
SLACK_BOT_TOKEN=
SLACK_CHANNEL=
TENNIS_INTEGRITY_SLACK_WEBHOOK_URL=
DUPE_MATCH_SLACK_WEBHOOK_URL=
SLACK_WEBHOOK_URL=
Slack_Webhook_TIP=
