APP_PASSWORD=
BETFAIR_USERNAME=
BETFAIR_PASSWORD=
BETFAIR_APP_KEY=
BETFAIR_CERT_FILE=
BETFAIR_KEY_FILE=
BETFAIR_CERT_B64=
BETFAIR_KEY_B64=
DECIMAL_USERNAME=
DECIMAL_PASSWORD=
SLACK_BOT_TOKEN=
SLACK_CHANNEL=
SLACK_WEBHOOK_URL=
