fastapi
uvicorn[standard]
jinja2
python-multipart
python-dotenv
itsdangerous
pandas
requests
betfairlightweight
selenium
openpyxl
rapidfuzz
python-Levenshtein
beautifulsoup4
lxml
html5lib
slack_sdk
python-dotenv
truststore
urllib3
schedule
